<?xml version="1.0"?>
<configuration xmlns="http://schemas.microsoft.com/.NetConfiguration/v2.0">
  <configSections>
    <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data, Version=3.1.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
    <sectionGroup name="SF.Expand">
      <section name="Expand.Core" type="System.Configuration.NameValueFileSectionHandler, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      <section name="Expand.Core.Multiplexer" type="System.Configuration.NameValueFileSectionHandler, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      <section name="Expand.App" type="System.Configuration.NameValueFileSectionHandler, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      <section name="Expand.Context" type="System.Configuration.NameValueFileSectionHandler, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      <section name="Expand.ContextInitial" type="System.Configuration.NameValueFileSectionHandler, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      <section name="Expand.Handlers" type="System.Configuration.NameValueFileSectionHandler, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
    </sectionGroup>
  </configSections>

  <dataConfiguration defaultDatabase="BESASwitch" />
  <connectionStrings>
    <add name="BESASwitch.LAST" connectionString="Data Source=sf-dell-ap\sqlserver2008;Initial Catalog=BESA.LAST; User ID=sa;Password=sapwd;" providerName="System.Data.SqlClient" />
    <add name="SystemConnectionString" connectionString="Data Source=sf-dell-ap\sqlserver2008;Initial Catalog=BESA.LAST; User ID=sa;Password=sapwd;" providerName="System.Data.SqlClient" />
    <add name="BESASwitch.uat" connectionString="Database=Besa.Switch.V5;Server=10.250.144.144;User ID=expanduser;Password=expandpwd;"
      providerName="System.Data.SqlClient" />
    <add name="BESASwitch.testmach32" connectionString="Database=BesaSwitch;Server=testmach32;User ID=sa;Password=_sa_;"
      providerName="System.Data.SqlClient" />
    <add name="BESASwitch" connectionString="Database=BESA.Switch.MG.V5;Server=sf-dell-ap\sqlserver2008;User ID=sa;Password=sapwd;"
      providerName="System.Data.SqlClient" />
    <add name="FlexCube" connectionString="Database=BESA.Switch.MG.V5;Server=sf-dell-ap\sqlserver2008;User ID=sa;Password=sapwd;"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="DatabaseConfigKey" value="BESASwitch" />
    <add key="LogFolderx" value="D:\Work\BESA-Modelo Global V5\Conversor\ExpandWebService\Log" />
    <add key="ATMServerIP" value="127.0.0.1" />
    <add key="ATMServerPort" value="6848" />
    <add key="POSServerIP" value="127.0.0.1" />
    <add key="POSServerPort" value="6849" />
    <add key="ATMServerTimeout" value="10" />
    <add key="POSServerTimeout" value="10" />
    <add key="GetConstMsg" value="SF.Expand.Core.Connectivity.GetConstMsg, eXPandMsgTranslatorImpl, Version=3.0.0.1, Culture=neutral, PublicKeyToken=null" />
    <add key="MessageConstructor" value="SF.Expand.Core.Connectivity.MessageConstructor, eXPandMsgTranslatorImpl, Version=3.0.0.1, Culture=neutral, PublicKeyToken=null" />
    <add key="GetParseMsg" value="SF.Expand.Core.Connectivity.GetParseMsg, eXPandMsgTranslatorImpl, Version=3.0.0.1, Culture=neutral, PublicKeyToken=null" />
    <add key="MessageParser" value="SF.Expand.Core.Connectivity.MessageParser, eXPandMsgTranslatorImpl, Version=3.0.0.1, Culture=neutral, PublicKeyToken=null" />
	  <add key="FlexCubeServices" value="http://localhost/FlexCubeServices/Service.asmx" />
	  <add key="DEBUG" value="ON" />

    <!-- LOGGER-->
		<add key="TRACE_BASEFILENAME" value="ExpandSwitch{0}.LOG"/>
		<add key="TRACE_FILELOCKDELAY" value="5000"/>
		<add key="TRACE_FILENAMEFORMATER" value="yyyyMMdd"/>
		<add key="TRACE_FILEPATH" value="E:\WorkInProgress\BESA.V3\Conversor\ExpandWebService\Log\"/>
		<add key="TRACE_LEVEL" value="4"/>
    <!-- LOGGER-->

  </appSettings>
  <system.web>
    <compilation debug="true">
      <assemblies>
        <add assembly="System.Windows.Forms, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Management, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Data.OracleClient, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Configuration.Install, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Transactions, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
      </assemblies>
    </compilation>
    <authentication mode="Windows" />
		<httpRuntime executionTimeout="600"/>
  </system.web>
  <SF.Expand>
    <Expand.ContextInitial>
    </Expand.ContextInitial>
    <Expand.Context>
    </Expand.Context>
    <Expand.Handlers>
      <add key="text/xml" value="Expand.Core.Handlers.TextXml, ExpandXmlHandler" />
    </Expand.Handlers>
    <Expand.App>
      <add key="PostBackExtensions" value=".teste,.dummy" />
      <add key="MergeRequestServerVars" value="CONTENT_TYPE,REQUEST_METHOD,REMOTE_USER,LOGON_USER,HTTP_COOKIE,QUERY_STRING" />
      <add key="CachePipelinesInMemory" value="True" />
      <add key="CachePipelinesInDisk" value="True" />
      <add key="SystemStepsCacheDirectory" value="D:\work\BESA\ExpandWebService\Pipelines" />
    </Expand.App>
    <Expand.Core>
      <add key="OrchestratorObject" value="SF.Expand.Core.Orch.Orchestrator, Orchestrator" />
      <add key="WrkDataObject" value="SF.Expand.Core.Data.WrkData, WrkData" />
      <add key="OrchWrkDataObject" value="SF.Expand.Core.Orch.OrchWrkData, OrchWrkData" />
      <add key="StepType_0_Object" value="SF.Expand.Core.Orch.StepTypeStart, OrchestratorSteps" />
      <add key="StepType_1_Object" value="SF.Expand.Core.Orch.StepTypeEnd, OrchestratorSteps" />
      <add key="StepType_2_Object" value="SF.Expand.Core.Orch.StepTypeComponent, OrchestratorSteps" />
      <add key="StepType_3_Object" value="SF.Expand.Core.Orch.StepTypeDecision, OrchestratorSteps" />
      <add key="StepType_4_Object" value="SF.Expand.Core.Orch.StepTypeMultiplexer, OrchestratorSteps" />
      <add key="StepType_5_Object" value="SF.Expand.Core.Orch.StepTypeSection, OrchestratorSteps" />
      <add key="StepType_6_Object" value="SF.Expand.Core.Orch.StepTypeEndSection, OrchestratorSteps" />
      <add key="StepType_7_Object" value="SF.Expand.Core.Orch.StepTypeSynchronizer, OrchestratorSteps" />
      <add key="StepType_8_Object" value="SF.Expand.Core.Orch.StepTypePipeEnchained, OrchestratorSteps" />
      <add key="StepType_9_Object" value="SF.Expand.Core.Orch.StepTypeTemplate, OrchestratorSteps" />
      <add key="StepType_10_Object" value="SF.Expand.Core.Orch.StepTypeReturnToClient, OrchestratorSteps" />
      <add key="StepType_12_Object" value="SF.Expand.Core.Orch.StepTypeService, OrchestratorSteps" />
      <add key="StepType_13_Object" value="SF.Expand.Core.Orch.StepTypeSubPipe, OrchestratorSteps" />
    </Expand.Core>
    <Expand.Core.Multiplexer>
      <add key="Split_TypeName" value="SF.Expand.Core.Orch.MPlexDataMerger, Orchestrator" />
      <add key="Merge_TypeName" value="SF.Expand.Core.Orch.MPlexDataMerger, Orchestrator" />
      <add key="initialThreadCount" value="10" />
      <add key="maxThreadCount" value="100" />
      <add key="newThreadTrigger" value="200" />
      <add key="dynamicThreadDecayTime" value="120000" />
      <add key="requestQueueLimit" value="-1" />
    </Expand.Core.Multiplexer>
  </SF.Expand>
  <system.net>
    <mailSettings>
      <smtp deliveryMethod="Network" from="antonio.pedro@softfinanca.com">
        <network defaultCredentials="false" host="mail.netconquer.pt" password="antoniop" port="25" userName="antonio.pedro" />
      </smtp>
    </mailSettings>
  </system.net>
</configuration>